.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    padding: 0 7rem;
    
}


.navigation {
    display: flex;
    list-style: none;
    gap: 49px;
    font-size: 1.2rem;
    font-weight: 700;
}

.navigation a{
    color: var(--bg-third);
    font-size: 20px;
}
.navigation a:hover{
    color: var(--bg-second);
}

.header__container-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}