.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid pink;
    height: 10rem;
    padding: 0 5rem;
}


.navigation {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 1.2rem;
    font-weight: 700;
}

.navigation a{
    color: var(--bg-third);
}
.navigation a:hover{
    color: #f0f0f0f0;
    text-decoration: underline;
}