.contact__component{
    max-height: 890px;
}

.contact__section {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    height: auto;
}

.contact__article{
    width: 50%;
}

.contact__article h2{
    font-size: 64px;
    font-style: normal; 
    font-weight: 700;
    text-align: center;
    width: 742px;
    margin: 1rem;
}

.contact__article-imgs{
    position: absolute;
}
.contact__article-imgs1{
    position: absolute;
    top: 24rem;

}
.contact__article-imgs2{
    position: absolute;
    transform: rotate(-12.602deg);
    
}
.contact__article-imgs3{
    position: absolute;
    left:150.56px;
    top: 41.5rem;
}

.contact__article-form{
    display: flex;
    flex-direction: column;
}

.contact__form{
    display: flex;
    flex-direction: column;
}
/*

form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    
}

input, textarea {
    background-color: black;
    color: white;
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    border: 1.9px solid white;
    width: 20rem;

}

input::placeholder, textarea::placeholder {
    color: white; 
}

textarea {
    height: 8rem;
} */