.btn__component {
    background-color: var(--bg-second);
    padding: 0.6rem 4rem;
    border-radius: 2.5rem;
    /* width:max-content; */
    color: var(--bg-general);
    font-weight: 700;
    width: max-content;
    font-size: 30px;
}

.section__doctors-btn{
    margin: 3rem 0;
}