
:root {
  --bg-general: #040521;
  --bg-second: #FFC67E;
  --bg-third: #FFFFFF;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-general);
  color: var(--bg-third);
}


a {
  text-decoration: none;
}

