.about__main{
    margin-right: 4.6rem;
    margin-left: 6rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
}

.about__main h2{
    font-size: 64px;
    padding: 2.7rem;
    text-align: center;
}

.about__imgs{
    position: absolute;
    display: flex;
    gap: 10rem;
    flex-direction: row;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.about__imgs-persistencia{
    position: absolute;
    bottom: 1.3rem;
    right: 18rem;
}

.about__imgs-resistencia{
    position: absolute;
    bottom: 1.5rem;
    left: -10rem;
}

.about__section{
    display: flex;
    justify-content: space-between;
    gap: 6.3rem;

}

.about__article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__article p{
    font-size: 32px;
    text-align: center;
    margin: 0 3rem;
}

.about__article a{
    position: relative;
    margin: 5rem;
    padding: 1.5rem 9rem;
    display: flex;
    justify-content: center;
    font-size: 32px;
    z-index: 2;

}
.about__imgs-dr{
    margin-bottom: 3.5rem;
    z-index: 2;
}

/* div de imagenes tiene la sgte prop
*/
/* div{
    z-index: -1;
    position: fixed;
    width: 100vh;

}
image{
    fill
    {{object-fit: cover}}
} */


/* otro codigo */
/* .hero{
    position: relative;
    color: var(--bg-second);
}

.hero--content{
    padding: 48px 0;
}

.bg--img{
    object-fit: cover;
    z-index: -5;
} */