.main__doctors{
    padding: 2rem 5rem;
}

.main__doctors h2{
    font-size: 64px;
}

.section__doctors{
    display: flex;
    margin: 2rem 0;
}

.section__doctors ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;

}

.section__doctors-card{
    
    
}

.section__doctors img{
    display: flex;
    gap: .5rem;
    
}

.section__doctors-text{
    font-size: 30px;
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    margin-top: 1rem;
}

