.container__carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.image__carousel {
  width: 100%;
  height: 890px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.image__carousel-h1{
  font-size: 3rem;
  margin: 0;
  position: absolute;
  top: 17rem;
  left: 10rem;
}
.image__carousel-h1 h1{
  font-weight: 800;
}

.btn__component {
  position: absolute;
  bottom: 17rem;
  margin: 0;
  padding: 5rem 0;
  left: 10rem;
  
}
.btn__component a {
  font-size: 32px;
  padding: 1rem 3rem
}

.btns__carousel{
  position: absolute;
  bottom: 1rem;
  margin: 1rem;
  right: 6rem;
}

.btns__carousel button {
  background-color: transparent; 
  border: 3px solid var(--bg-third);
  padding: 0.5rem; 
  margin: 0.7rem;
  cursor: pointer;
  border-radius: 50%; 
}

.btns__carousel button:hover {
  background-color: var(--bg-second);
  border: 3px solid var(--bg-second);
}
